{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Registered user!!</h1>
    <p> Hay que crear el controlador para el logout</p>
    <p> Si hace el login va al dashboard</p>
    <p> Si hace logout va a la home </p>
{% endblock %}