{% extends 'base.html.twig' %}

{% block title %}Dashboard User{% endblock %}

{% block body %}
   <header>
        <nav>
            <a href="{{ path('app_club_index') }}">Clubes</a>
            <a href="#">Equipos</a>
            <a href="#">Luchadores</a>
            <a href="#">Marcadores</a>
            <a href="#">Usuarios</a>
        </nav>
        <button class="login-button" onclick="window.location.href='{{ path('app_logout') }}'" >Logout</button>
    </header>
    <main> 
        <h1> DASHBOARD DEl ADMIN</h1>
    </main>

{% endblock %}
