/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/phpunit.xml
.phpunit.result.cache
.phpunit.result.cache
/phpunit.xml
/public/assets/
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
/.idea/
/.vscode/
.DS_Store
Thumbs.db
*.log
composer.lock
/var/cache/
/var/log/